@font-face {
  font-family: "Bebas Neue";
  //src: url(BebasNeueRegular.eot);
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url(../fonts/BebasNeueRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Bebas Neue";
  //src: url(BebasNeueBold.eot);
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url(../fonts/BebasNeueBold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Bebas Neue";
  //src: url(BebasNeueLight.eot);
  src: local("Bebas Neue Light"), local("BebasNeueLight"), url(../fonts/BebasNeueLight.woff) format("woff");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: "Bebas Neue";
  //src: url(BebasNeue-Thin.eot);
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"), url(../fonts/BebasNeue-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal
}
@font-face {
  font-family: "Bebas Neue Book";
  //src: url(BebasNeueBook.eot);
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url(../fonts/BebasNeueBook.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Noto Sans", sans-serif
}
@font-face {
  font-family: "Noto Sans Light";
  src: url(../fonts/noto-sans-light.woff)
}
